*{
    padding: 0;
    margin: 0;
}
body{
    background:linear-gradient(-135deg, #ff003c, #f6426c)
}
h1{
    font-size: 80px;
    color:#ffffff;
    text-align: center;
    font-family:"Roboto";
}
h2{
    font-size: 40px;
    color:white;
    text-align: center;
    font-family:"Roboto";
    margin-top: 10rem;
}
h3{
    font-size: 40px;
    color:black;
    text-align: center;
    font-family:"Roboto";
    margin-top:60px;
}
#closebtn{
    height: 40px;
    width: 40px;
    float: right;
    margin-right: 20px;
    position: relative;
    top:10px;
}
span{
    color: #ffffff;
}
.title{
    margin-top: 50px;
}
.line{
    height: 2px;
    width:75rem;
    margin-left:25rem;
    margin-top: 10rem;
    background-color: black;
    justify-content: center;
    
}
.logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
img{
    justify-content: center;
    height:300px;
    width:300px;
}